mixin th-sortable(field)
  th.sortable(data-bind="click: toggleSort('#{field}')")
    block
    |&nbsp;
    i(data-bind="css: sortClass('#{field}')")

input(type='text', data-bind='instant: filter')

p.aligncenter.bindingloader
  i.icon-spinner.icon-spin
  |&nbsp;Loading...

div.cloak(data-bind='with: exampleTable')
  table.table.table-striped
    thead
      tr
        +th-sortable('foo') Foo
        +th-sortable('bar') Bar
        th Baz
    tbody
      tr(data-bind='visible: showNoData')
        td.aligncenter(colspan=3) This table has no data.
      tr(data-bind='visible: showLoading')
        td.aligncenter(colspan=3)
          i.icon-spinner(data-bind='css: {"icon-spin": showLoading}')
          |&nbsp;Loading data...
      tr(data-bind='repeat: { foreach: pagedRows, item: "$row" }')
        td(data-bind='text: $row().foo')
        td(data-bind='text: $row().bar')
        td(data-bind='text: $row().baz')

  span.label.label-info.pull-right(data-bind='text: recordsText')

  .pagination(data-bind='visible: pages() > 1')
    ul
      li(data-bind='css: leftPagerClass, click: prevPage'): a(href='#') &laquo;
      li(data-bind='repeat: {count: pages, bind: "css: pageClass($index + 1)"}')
        a(href='#', data-bind='text: $index + 1, click: gotoPage($index + 1)')
      li(data-bind='css: rightPagerClass, click: nextPage'): a(href='#') &raquo;

:coffeescript
  $ -> window.view = new ExampleModel
