.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
  thead {
    tr {
      th.sortable {
        cursor: pointer;
        position: relative;
        padding-right: 12px;
        .no-select;
        i {
          color: #C5C5C5;
          position: absolute;
          top: 12px;
          right: 2px;
          &.sorted {
            color: black;
          }
        }
      }
    }
  }
}
